
	head {
		text-align: center;
	}

	h1 {
		color: red;
		background-color: lightgrey;
		text-align: center;
	}
	body {
		background-color: #eda;
		font-family: "helvetica";
		text-align: center;
	}
	img {width: 400px}
	}
	footer {

	}
